fastapi
uvicorn
python-multipart
langchain-community
langchain-text-splitters
fastembed
python-dotenv
groq
motor
passlib[argon2]
argon2-cffi
python-jose[cryptography]
cryptography
email-validator
markitdown[all]
openai
gunicorn
