fastapi
uvicorn
python-multipart
langchain-community
langchain-text-splitters
fastembed
python-dotenv
groq
motor
passlib[bcrypt]
bcrypt
python-jose[cryptography]
cryptography
email-validator
markitdown[all]
openai
gunicorn
